<%= render 'partial/feed/select_menu' %>

<div class="base_info">
  <%= image_tag("feed/base/seattle.jpg") %>
  <p class="title">
    シアトル
  </p>
</div>

<div class="base_card_wrap">

    <div class="base_card">
        <div class="title">
            アメリカの基本情報
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            天気・気候
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            現地時間
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            フライト情報
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            宿泊先情報
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            通貨と為替レート
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            電話のかけ方
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            祝祭日
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            チップ
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            ビジネスアワー
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            電圧とプラグ・映像方法
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            税金
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            安全とトラブル
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>

    <div class="base_card">
        <div class="title">
            年齢制限
        </div>
        <p class="explain_word">
        アメリカ合衆国、通称アメリカ、米国（べいこく）は、50の州および連邦区から成る連邦共和国である。アメリカ本土の48州およびワシントンD.C.は、カナダとメキシコの間の北アメリカ中央に位置する。アラスカ州は北アメリカ北西部、ハワイ州は中部太平洋における多島海である。同国は、太平洋およびカリブに5つの有人の海外領土および9つの無人の海外領土を有する。
        </p>
        <a href="">↓</a>
    </div>
</div>