<div id="my_page">
  <div class="user_info">
    <div class="user_img">
        <% if @user.avatar.url %>
        <%= image_tag @user.avatar.url if @user.avatar? %>
        <% else %>
        <%= image_tag("default/user-img.png") %>
        <% end %>
    </div>
    <p class="user_name">
        <%= @user.name %>
    </p>
  </div>
</div>