<header class="navbar-fixed-top">
	  <div class="container">
		  <%= link_to image_tag("logo.png", alt: "compass"), root_path ,id: "logo" %>
		  	<nav>
		  	
		  		<ul class="nav navbar-nav navbar-right">
		  			
		  			<li><%= link_to "Sign up", signup_path %></li>
		  		</ul>
		  	
		  	</nav>
	  </div>
</header>