<div class="select_menu">
  <ul class="clearfix">
	<li><a href="/feed/base">基本情報</a></li>
	<li><a href="/feed/all">ALL</a></li>
	<li><a href="">PLACE</a></li>
	<li><a href="">ARTICLE</a></li>
  </ul>
  <div class="active_bar"></div>
</div>