header {
  // border-bottom: 1px solid #ccc;
  background-color: $themeColor_main;

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $textColor_white;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    transition: all .3s;
    
    &:hover {
      opacity : .7;
      text-decoration: none;
    }
    
    img {
      width: 50%;
    }

  }
}