<div id="form_wrap_interest">
  <p class="category_title">
    興味のあるタグをえらんで<br>
    あなただけのガイドをつくりましょう
  </p>

  <input type="search" id="form_search" placeholder="&#xf002; タグを検索" />
  <ul id="images_line" class="images_lines clearfix">
    <% @cities.each.with_index(1) do |city, index| %>
      <li>
      <label class="panel_label">
        <%= image_tag("city/#{city.city_en}.jpg") %>
        <p class="label_text">
          <%= city.city %>
          <input type="checkbox" value=<%= city.city %> name=<%= "answer[city][]" %> class="panel_form">
        </p>
      </label>
      </li>
    <% end %>
    
  </ul>
</div>