// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$borderColor: #ccc;

/* universal */

*{
<<<<<<< HEAD
	box-sizing:border-box;
=======
  box-sizing:border-box;
>>>>>>> af9ade7d76a55d9377b643c34a9f70480418c556
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

<<<<<<< HEAD

/* typography */

// h1, h2, h3, h4, h5, h6 {
//   line-height: 1;
// }

// h1 {
//   font-size: 3em;
//   letter-spacing: -2px;
//   margin-bottom: 30px;
//   text-align: center;
// }

// h2 {
//   font-size: 1.2em;
//   letter-spacing: -1px;
//   margin-bottom: 30px;
//   text-align: center;
//   font-weight: normal;
//   color: #777;
// }

// p {
//   font-size: 1.1em;
//   line-height: 1.7em;
// }


// debug_dump
=======
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header{
  height: 60px;
  border-bottom: 1px solid $borderColor;
  background-color: #fff;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  transition: all .3s;
  
  &:hover{
    opacity : .7;
  }
  
  img{
    width: 50%;
  }
}


/* footer */

footer{
  height: 30px;
  border-top: 1px solid $borderColor;
  text-align: center;
}

/* custom-container */

.custom-container{
  margin-top: 30px;
}

>>>>>>> af9ade7d76a55d9377b643c34a9f70480418c556
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}
<<<<<<< HEAD
=======

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// top-layout
.site-box{
  .site-item{
    float: left;
    width: 48%;
    margin-bottom: 4%;
    &:nth-of-type(odd){
      margin-right: 4%;
    }
  }

  img{
    width: 100%;
  }
}

.site-view {
    border: 1px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.site-view .mask, .site-view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.site-view img {
    display: block;
    position: relative
}
.site-view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.site-view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.site-view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.site-view a.info:hover {
    box-shadow: 0 0 5px #000
}

.site-view img {
    transform: scaleY(1);
    transition: all 0.7s ease-in-out;
}
.site-view .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.site-view h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
}
.site-view p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}
.site-view a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
}

.site-view:hover img {
    transform: scale(3);
    opacity: 0;
}
.site-view:hover .mask {
    opacity: 1;
    
}
.site-view:hover h2,
.site-view:hover p,
.site-view:hover a.info{
    transform: scale(1);
    opacity: 1;
}
>>>>>>> af9ade7d76a55d9377b643c34a9f70480418c556
