// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$borderColor: #ccc;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
/* universal */
html {
  height: 100%;
}

body {
  padding-top: 50px;
  height: 100%;
  font-family: Avenir , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-weight: 500;
}

#main_page{
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer{
  height: 30px;
  border-top: 1px solid $borderColor;
  text-align: center;
}

/* custom-container */

.custom-container{
  margin-top: 30px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// top
#signup_main {

  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $textColor_black;
  background-color: $themeColor_main;
  padding: 20px 10px 0;

  .signup_backimg {
    display: none;
  }

  .signup_introduce {
    display: none;
  }

  .signup_form {
    padding: 20px 15px 25px;
    background-color: #fff;
    border-radius: 2px;

    .title {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;

    }

    label {
      margin-bottom: 0;
    }

    input[type="text"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="time"],
    input[type="url"],
    input[type="password"],
    textarea,
    select 
    {
        outline: none;
        display: block;
        width: 100%;
        padding: 7px 0;
        border: none;
        border-bottom: 2px solid #008B7D;
        background: transparent;
        margin-bottom: 10px;
        height: 45px;
    }

    .btn {
      background-color: $themeColor_main;
      box-shadow:0px 2px 14px -4px #000000;
      margin-top: 30px;
      color: $textColor_white;
    }
  }

  

  @media (min-width: 1025px){
    #signup_main {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      color: $textColor_white;
      background-color: #000;
    
      .signup_backimg {
        display: block;
        background-image: image-url("main.jpg");
        background-size: cover;
        height: 100%;
        width: 100%;
        opacity: .5;
      }
    
      a{
        color: $textColor_white;
      }
    
      .signup_wrap{
        width: 980px;
        margin: 0 auto;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content:space-between;
        align-items: center;
      }
    
      .signup_introduce {
        width: 530px;
        display: block;
        a {
          text-decoration: #fff;
        }
        
        .signup_subtitle {
          font-size: 16px;
        }
    
        .signup_title {
          font-size: 60px;
          letter-spacing: 1px;
        }
    
        .signup_summary {
          font-size: 18px;
          font-weight: bold;
        }
      }
    
      .signup_form {
        width: 340px;
      }
    }
  }
}


// login
#login_main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: $textColor_black;
  background-color: $themeColor_main;
  padding: 20px 10px 0;
  
    .login_form {
      padding: 20px 15px 25px;
      background-color: #fff;
      border-radius: 2px;
  
      .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
  
      }
  
      label {
        margin-bottom: 0;
      }
  
      input[type="text"],
      input[type="date"],
      input[type="datetime"],
      input[type="email"],
      input[type="number"],
      input[type="search"],
      input[type="time"],
      input[type="url"],
      input[type="password"],
      textarea,
      select 
      {
          outline: none;
          display: block;
          width: 100%;
          padding: 7px 0;
          border: none;
          border-bottom: 2px solid #008B7D;
          background: transparent;
          margin-bottom: 10px;
          height: 45px;
      }
  
      .btn {
        background-color: $themeColor_main;
        box-shadow:0px 2px 14px -4px #000000;
        margin-top: 30px;
        color: $textColor_white;
      }

      p {
        margin-top: 8px;
      }
  
  }
}

// preference
#preference {

  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  #form_search {
    outline: none;
    display: block;
    width: 100%;
    padding: 7px 0;
    border: none;
    border-bottom: 2px solid #008B7D;
    background: transparent;
    margin-bottom: 25px;
    height: 45px;
    // padding-left: 10px;
    font-family: FontAwesome;
  }

  .category_title { 
    font-size: 16px;
    color: $textColor_black;
    margin-top: 20px;
    line-height: 1.4;
    text-align: center;
  }

  .images_lines{
    li {
      width: 32%;
      position: relative;
      float: left;
      margin: 0 2% 2% 0;
      background-color: #000;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      .panel_label {
        margin: 0;
        transition: all .3s;
        cursor: pointer;
        &.active {
         // border: 2px solid $themeColor_main;
         opacity: .4;
        }
      }

      img {
        $imgSize: 50px;
        width: $imgSize;
        height: $imgSize;
        opacity: .7;
      }
      
      .label_text {
        width: 94%;
        height: 50px;
        font-size: 26px;
        line-height: 48px;
        margin: 0 auto;
        text-align: center;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: bold;
        z-index: 2;
      }
      .panel_form {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        opacity: 0;
      }
    }
    
  }
  // .next_btn {
  //   width: 150px;
  //   height: 50px;
  //   line-height: 50px;
  //   background-color: $themeColor_main;
  //   @include boxShadow;
  //   margin: 20px auto 0;
  //   font-size: 16px;
  //   color: #fff;
  //   text-align: center;
  //   font-weight: bold;
  //   cursor: pointer;
  // }
  
}

// feed
#feed_page {

  .card_wrap {
    @include cardCommonWrap;

    .card_block{
      width: 100%;
      height: 280px;
      margin: 0 20px 20px 0;
      background-color: #fff;
      box-shadow:0px 0px 14px -4px #000000;
      position: relative;
      display: block;
      color: $textColor_black;

      .card_img {
        width: 50%;
        height: 100%;
        float: left;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .card_info {
        padding: 12px 10px;
        float: left;
        width: 50%;
        .title {
          font-weight: bold;
          margin-bottom: 4px;
          font-size: 12px;
        }

        .genre {

          ul {
            
            li {
              float: left;
              @include genreBtn;
              width: 24%;
              text-align:center;
              font-size: 10px;
              height: 16px;
              line-height: 16px;
              color: #fff;
              margin-right: 1%;
              font-weight: bold;
              &:last-child {
                margin-right: 0;
              }
              
            }
          }
        }
      }

      a {
        display: block;
        position: absolute;
        width: 102%;
        @include boxShadow;
        left: -1%;
        bottom: 0;
        background-color: #fff;
        text-align: center;
        height: 25px;
        line-height: 25px;
      }
    }
  }

  // base
  @media (max-width: 767px) {
    .base_info {
      width: 100%;
      position: relative;
      background-color: #000;
      
      img {
        width: 100%;
        opacity: .7;
      }
  
      .title {
        font-size: 24px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        
      }
    }

    .base_card_wrap {
      @include cardCommonWrap;
    }

    .base_card {
      box-shadow:0px 2px 14px -4px #000000;
      padding: 20px 10px;
      margin-top: 10px;
      color: $textColor_black;
      position: relative;
      .title {
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 600;
        
      }

      .explain_word {
        font-size: 12px;
      }

      a{
        display: block;
        text-align:center;
        box-shadow:0px 0px 14px -4px #000000;
        height: 20px;
        line-height: 20px;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -10px;
        color: $themeColor_main;

        &:hover {
          text-decoration: none;
        }
        
      }
    }
  }
}

//my_page
#my_page {
  
  .user_info {
    text-align: center;
    background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
    background-size: 600% 600%;
    animation: AnimationName 10s ease infinite;
    padding-top: 17px;
    height: 160px;
  }

  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  .user_img {
    $imgSize: 80px;

    width: $imgSize;
    height: $imgSize;
    margin: 0 auto 5px;
    img {
      width: 100%;
      border-radius: $imgSize;
      border: 1px solid #ccc;
    }
  }

  .user_name {
    color: $textColor_white;
    font-size: 26px;
  }
}